<div>
    <div class="row description">
        <div class="col-md-12">
            This will contain a list of all lessons the user made, with an option to filter by language, and percentage of unknown words
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 lesson-pane" *ngFor="let i of [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lesson Name</h5>
                    <p class="card-text">
                        A brief description of the lesson
                    </p>
                    <p>Language</p>
                    <ul>
                        <li>known words: 80%</li>
                        <li>unknown words: 15%</li>
                        <li>marked words: 5%</li>
                    </ul>
                    <button mat-flat-button>Open Lesson</button>
                </div>
            </div>
        </div>
    </div>
</div>