<div>
    <div class="row header" color="primary">
        <div class="col-md-10 title">
            Language Learning with Nick
        </div>
        <div class="col-md-2 google-login">
            <asl-google-signin-button *ngIf="!isLoggedIn; else displayUser" text="signin_with" type="standard" size="medium"
                theme="filled_blue" logo_alignment="left"></asl-google-signin-button>
            <ng-template #displayUser>
                Welcome {{fullName}}!
            </ng-template>
        </div>
    </div>
    <div class="col">
        <div class="row-md-12">
            <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start" disableRipple>
                <mat-tab label="About">
                    <div class="content">About Section. Instructions on how to effectively use this tool.</div>
                </mat-tab>
                <mat-tab label="Upload a Lesson" [disabled]="!isLoggedIn">
                    <div class="content">This will contain a form where the user can input a new lesson text</div>
                </mat-tab>
                <mat-tab label="Lesson List" [disabled]="!isLoggedIn">
                    <div class="content">Will contain a list of lessons already created</div>
                </mat-tab>
                <mat-tab label="Contact Me">
                    <div class="content">Contact information</div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
