.header {
    height: 50px;
    background-color: lightgray;
    width: 100%;
    margin: 0;

    .title {
        margin: auto 0 auto 0;
        font-size: large;
    }

    .google-login {
        margin: auto;
        width: fit-content;
    }
}

.content {
    padding: 12px;
}