<div>
    <div class="row description">
        <div class="col-md-12">
            This will contain a form where the user can input a new lesson text
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>Lesson Name</mat-label>
                    <input matInput formControlName="lessonName">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Lesson Language</mat-label>
                    <mat-select formControlName="lessonLanguage">
                        <mat-option value="english">English</mat-option>
                        <mat-option value="french">French</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Native Language</mat-label>
                    <mat-select formControlName="nativeLanguage">
                        <mat-option value="english">English</mat-option>
                        <mat-option value="french">French</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput rows="2" formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <mat-form-field>
                    <mat-label>Lesson Text</mat-label>
                    <textarea matInput rows="10" formControlName="lessonText"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <button mat-flat-button type="submit" [disabled]="!form.valid">Submit</button>
            </div>
        </div>
    </form>
</div>