.lesson-page, .lesson-page-row { 
    height: 100%;
    width: 100%;
}

.word-pane { 
    min-height: 100%;
}

.word-pane-col, .lesson-pane-col { 
    padding: 12px;
}

.lesson-pane { 
    margin-left: 12px;
    height: 100%;
}

.word { 
    margin: auto;
    width: fit-content;
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 12px;
}

.title { 
    padding: 24px;
    font-size: xx-large;
    font-weight: bolder;
}

.description { 
    padding-left: 24px;
    font-size: large;
}

.lesson { 
    padding: 24px;
}

.word-highlight { 
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
    line-height: 2;
    cursor: pointer;
    white-space: nowrap;

    &.one { 
        background-color: lightblue;
    }
    &.two { 
        background-color: yellow;
    }
    &.three { 
        background-color: lightyellow;
    }
    &.four { 
        // dotted underline
        text-decoration: underline dotted;
    }
    &.five { 
        background-color: white;
    }
}

mat-button-toggle-group { 
    width: 100%;
    mat-button-toggle { 
        width: 100%;
        margin: auto;
    }
}

.translation-list { 
    // overflow: scroll;
    padding-top: 12px;
}

.translation { 
    margin: 12px;
}

.add-translation { 
    width: fit-content;
    margin: auto;
}

.delete-translation { 
    position: absolute;
    right: 0;
}

.no-words-selected { 
    margin: auto;
    font-size: x-large;
    font-weight: bolder;
}