<div class="lesson-page">
    <div class="row lesson-page-row">
        <div class="col-md-9 lesson-pane-col">
            <div class="card lesson-pane">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button mat-flat-button [routerLink]="['/']" (click)="backToLessons()">Back to Lessons</button>
                            <mat-button-toggle-group class="view-toggle" [value]="view" name="fontStyle" aria-label="Font Style">
                                <mat-button-toggle (click)="viewToggle('words')" value="words">Words</mat-button-toggle>
                                <mat-button-toggle (click)="viewToggle('sentences')" value="sentences">Sentences</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 title">
                            {{ lesson?.title }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 description">
                            {{ lesson?.description }}
                        </div>
                    </div>
                    <div class="row" *ngIf="view === 'words'">
                        <div class="col-md-12 lesson">
                            <span *ngFor="let word of lesson?.words">
                                <span class="word-highlight" [ngClass]="{
                                    'one': word.knowledge === 0,
                                    'two': word.knowledge === 1,
                                    'three': word.knowledge === 2,
                                    'four': word.knowledge === 3,
                                    'five': word.knowledge === 4
                                }" (click)="selectWord(word)">{{ word.value }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="row" *ngIf="view === 'sentences'">
                        <div class="col-md-12 lesson">
                            <span *ngFor="let sentence of lesson?.sentences">
                                <span class="word-highlight three" (click)="selectWord(sentence)">{{ sentence.value }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 word-pane-col" *ngIf="selectedWord; else noWordSelected">
            <div class="card word-pane">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="word">{{ selectedWord.value }}</div>
                        </div>
                    </div>
                    <div class="row knowledge" *ngIf="view === 'words'">
                        <div class="col-md-12">
                            <mat-button-toggle-group [value]="selectedWord.knowledge" name="fontStyle" aria-label="Font Style">
                                <mat-button-toggle (click)="changeKnowledgeLevel(selectedWord, 0)" [value]="0">1</mat-button-toggle>
                                <mat-button-toggle (click)="changeKnowledgeLevel(selectedWord, 1)" [value]="1">2</mat-button-toggle>
                                <mat-button-toggle (click)="changeKnowledgeLevel(selectedWord, 2)" [value]="2">3</mat-button-toggle>
                                <mat-button-toggle (click)="changeKnowledgeLevel(selectedWord, 3)" [value]="3">4</mat-button-toggle>
                                <mat-button-toggle (click)="changeKnowledgeLevel(selectedWord, 4)" [value]="4">5</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <div class="row translation-list">
                        <div class="col-md-12">
                            Translations:
                            <div class="card translation" *ngFor="let translation of selectedWord?.translations">
                                <div class="card-body translation-text">
                                    {{ translation }}
                                </div>
                                <div class="delete-translation">
                                    <button mat-icon-button (click)="deleteTranslation(translation)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="addTranslation()">
                        <div class="row">
                            <div class="col-md-12 add-translation">
                                <mat-form-field>
                                    <mat-label>Add Translation</mat-label>
                                    <input matInput formControlName="translation">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 add-translation">
                                <button type="submit" [disabled]="!form.valid" mat-flat-button>Add Translation</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ng-template #noWordSelected>
            <div class="col-md-3 word-pane-col no-words-selected">
                Click a word or Sentence!
            </div>
        </ng-template>
    </div>
</div>
