.about-section {  
    font-size: larger;
    line-height: 1.5;
    padding: 36px;
}

.form-image { 
    width: 500px;
}

.lesson-list-image { 
    width: 400px;
}

.lesson-image { 
    width: 500px;
}