<div>
    <div class="row">
        <div class="col-md-6">
            <div class="about-section yellow">
                Welcome to Language Learning with Nick! This is a site where you can upload a lesson text and then practice the 
                words in that lesson. Once you log in, Head over to the Upload a Lesson tab to get started. Currently, only French is supported for 
                lesson text, and english for translations, but more will be added in the future.
            </div>
        </div>
        <div class="col-md-6">
            <img src="https://i.imgur.com/EoQqVZx.png" class="form-image">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://i.imgur.com/hY8BGie.png" class="lesson-list-image">
        </div>
        <div class="col-md-6">
            <div class="about-section green">
                Once created, your lessons will appear in the Lesson List tab. You can click on a lesson to open it and practice the words.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="about-section purple">
                Words are highlighted in the lesson text and you can click on them to see the translation. 
                You can also mark words as known, unknown or marked and the site will keep track of your progress. The progress you make on words
                will be carried over to other lessons that contain the same word. If you feel the translation is incorrect, or incomplete, 
                you can delete it or add a new one.
            </div>
        </div>
        <div class="col-md-6">
            <img src="https://i.imgur.com/lAtodN4.png" class="lesson-image">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://i.imgur.com/teNtOnx.png" class="lesson-image">
        </div>
        <div class="col-md-6">
            <div class="about-section pink">
                You can also switch to sentence view when translating individual words is not enough.
            </div>
        </div>
    </div>
</div>
